/* .nav-left {

} */

* {
    margin: 0;
}

.group-menu {
    display: flex;
    gap: 20px;
}

.menu {
    color: white;
}

.group-menu .active {
    color: orange;
}

.nav-right {
    display: flex;
    gap: 20px;

}
